.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}

.menu{
  background-color: #D7D7D7;
  border-right: 1px solid black;
  flex: 1;
}

.title{
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid black;
}

.button{
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}


.canvas{
  background-color: white;
  flex: 4;
}

